<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}

</head>
<body>
   {{>navbar}}
   <!--main header--> 

    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="img/Arvind.jpg" alt="Arvind" class="img-fluid" title="Arvind">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h1>I Am A <span class="text_clr">Web Developer </span> A Freelancer</h1>
                        <a href="https://www.juaaree.com/" target="_juaaree"><button>About Me</button></a>
                    </div>
                    <!--right side div-->
                    
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
    {{>footer}}

    

   
</body>
</html>